/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/garage.css ***!
  \*************************************************************************/
.container {
  background: black;
}
form input[name="id"] {
  display: none;
}
/* .stop-btn:before {
  border: 10px solid black;
  content: "";
} */
.car-container {
  position: relative;
  height: 80px;
}
.car-container svg {
  position: absolute;
  left: 0;
  z-index: -1;
}

/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/root.css ***!
  \***********************************************************************/
body {
  margin: 0;
  background: black;
  color: aliceblue;
}

/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/winners.css ***!
  \**************************************************************************/
.header-clickable {
  cursor: pointer;
}

