/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/garage.css ***!
  \*************************************************************************/
.container {
  background: black;
}
form input[name="id"] {
  display: none;
}
/* .stop-btn:before {
  border: 10px solid black;
  content: "";
} */
.car-container {
  position: relative;
  height: 80px;
}
.car-container svg {
  position: absolute;
  left: 0;
  z-index: -1;
}
/* .wheel {
  animation: wheels 1s linear infinite;
} */

@keyframes wheels {
  0% {
    transform: translateY(-1px);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  75% {
    transform: translateX(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}

