h2 {
  margin-left: 1rem;
}
form {
  display: flex;
  gap: 10px;
}
input {
  color: lightblue;
  border: 2px solid var(--main-blue);
  border-radius: 10px;
  padding: 5px 10px;
  background: transparent;
  max-width: 190px;
}
input[type="color"] {
  padding: 0;
  width: 33px;
  cursor: pointer;
}

input:active {
  box-shadow: 2px 2px 15px var(--main-blue) inset;
}
input[name="id"] {
  display: none;
}
.car-container {
  position: relative;
  height: 80px;
}
.car-container svg {
  position: absolute;
  left: 0;
  z-index: -1;
}
.car-container .button {
  padding: 5px 10px;
}
.controll * {
  margin-block: 5px;
}
