<h2>Garage</h2>
<div class="controll"></div>
<form name="create">
  <input name="name" id="create-name" />
  <input name="color" type="color" name="color" id="" />
  <button>Create</button>
</form>
<form name="update">
  <input type="text" name="name" disabled />
  <input type="color" name="color" disabled value="#000000" />
  <input name="id" />
  <button type="submit" disabled name="button">Update</button>
</form>
<button id="race">Race</button>
<button id="reset">Reset</button>
<button id="generate">Generate 100 cars</button>
<div>Total:<span id="total"></span></div>
<div class="cars-container"></div>
<div id="pagination">
  <button disabled>Prev</button>
  <span>1</span>
  <button>Next</button>
</div>
