.title {
  text-align: center;
  text-transform: uppercase;
}

nav {
  margin-left: 10%;
}

nav * {
  margin-inline: 10px;
}

nav .button:disabled {
  border-color: var(--main-red);
}

a {
  text-decoration: none;
}
