@keyframes flash {
  0%,
  95% {
    opacity: 0.7;
    color: inherit;
  }
}

.letter {
  animation: flash 2s infinite;
  animation-delay: calc(0.05s * var(--i));
  color: white;
  opacity: 1;
}
